@font-face {
  font-family: 'BebasNeue';
  src: url("/fonts/BebasNeue.otf"); }

@font-face {
  font-family: 'MaturaScriptCapitals';
  src: url("/fonts/MaturaMTScriptCapitals.ttf"); }

@font-face {
  font-family: 'iconfont';
  /* project id 1087526 */
  src: url("//at.alicdn.com/t/font_1087526_mjnm4ki4o3b.eot");
  src: url("//at.alicdn.com/t/font_1087526_mjnm4ki4o3b.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1087526_mjnm4ki4o3b.woff2") format("woff2"), url("//at.alicdn.com/t/font_1087526_mjnm4ki4o3b.woff") format("woff"), url("//at.alicdn.com/t/font_1087526_mjnm4ki4o3b.ttf") format("truetype"), url("//at.alicdn.com/t/font_1087526_mjnm4ki4o3b.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
  .iconfont.icon-behance::before {
    content: '\e919'; }
  .iconfont.icon-lofter::before {
    content: '\e63c'; }
  .iconfont.icon-instagram::before {
    content: '\e626'; }
  .iconfont.icon-dribbble::before {
    content: '\e6c3'; }
  .iconfont.icon-github::before {
    content: '\e7ab'; }
  .iconfont.icon-arrow-left::before {
    content: '\e91a'; }
  .iconfont.icon-arrow-right::before {
    content: '\e636'; }
  .iconfont.icon-jianshu::before {
    content: '\e656'; }
  .iconfont.icon-segmentfault::before {
    content: '\e62d'; }
